body {
    background-color: rgb(252, 169, 3);
    font: 1rem 'Fira Sans', sans-serif;
}

#LoginLogo {
    display: block; /* display image as block element */
    margin: 0 auto; /* center image horizontally */
    padding: 70px;
}

.Inputs {
    display: flex; /* display parent as flex container */
    flex-direction: column;
    align-items: center; /* center input vertically */
    justify-content: center; /* center input horizontally */
    font: 1rem 'Fira Sans', sans-serif;
}

#ParentLoginButton {
    text-align: center;
}

#LoginButton {
    width: 100px;
    height: 25px;
    color: white;
    background-color: rgb(252, 169, 3);
    font: 1.3rem 'Fira Sans', sans-serif;
    border: 0px;
}

#ParentRedPill {
    text-align: center;
}

#RedPill {
    width: 100px;
    margin:0 auto;
    height: 25px;
    color: white;
    background-color: rgb(207, 27, 27);
    font: 1rem 'Fira Sans', sans-serif;
    font-size: 0.75em;
    border: 0px;
    border-radius: 15px;
    
}

#HomeLogo {
    display: block; /* display image as block element */
    margin: 0 auto; /* center image horizontally */
    padding: 20px;
}

.feed-selector {
    text-align: left;
    font-size: 20px;
    color: white;
    display: block;
    height: 500px;
    width: 25%;   
    float: left;
    align-items: left;
    justify-content: left;
}

#first-edition-logo {  
    width: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}


#global-logo {
    width: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}

#messages-logo {
    width: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}


.publish-logo {
    width: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
}

#publish-button {
    background-color: transparent;
    border: 0px;
    width: 30px;
    height: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#publish-textarea {
    height: 80%;
    width: 95%;
    padding-left: 5px;
    font: 1.3rem 'Fira Sans', sans-serif;
    align-content: center;
    align-items: center;
    border-radius: 10px;
}

#padding-button {
    padding-top: 10px;
}

#publish-text-button {
    font: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background-color: rgb(252, 169, 3);
    border: 0px;
}

.articles {
    text-align: center;
    font-size: 20px;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 50%;
    float: left;
}

#article-box {
    width: 100%;
    overflow: auto;
}


.right-section {
    text-align: right;
    font-size: 20px;
    color: white;
    display: block;
    align-items: right;
    justify-content: right;
    height: 500px;
    width: 25%;
    float: left;
}

#search-logo {
    width: 20px;
    padding-right: 5px;
    padding-top: 5px;
    float: left;
}

#input-pubkey {
    padding-right: 20px;
}


