body {
    background-color: rgb(252, 169, 3);
    font: 1rem 'Fira Sans', sans-serif;
}

#LoginLogo {
    display: block; /* display image as block element */
    margin: 0 auto; /* center image horizontally */
    padding: 70px;
}

.Inputs {
    display: flex; /* display parent as flex container */
    flex-direction: column;
    align-items: center; /* center input vertically */
    justify-content: center; /* center input horizontally */
    font: 1rem 'Fira Sans', sans-serif;
}

#ParentLoginButton {
    text-align: center;
}

#LoginButton {
    width: 100px;
    height: 25px;
    color: white;
    background-color: rgb(252, 169, 3);
    font: 1.3rem 'Fira Sans', sans-serif;
    border: 0px;
}

#ParentRedPill {
    text-align: center;
}

#RedPill {
    width: 100px;
    margin:0 auto;
    height: 25px;
    color: white;
    background-color: rgb(207, 27, 27);
    font: 1rem 'Fira Sans', sans-serif;
    font-size: 0.75em;
    border: 0px;
    border-radius: 15px;
    
}

#HomeLogo {
    display: block; /* display image as block element */
    margin: 0 auto; /* center image horizontally */
    padding: 20px;
}
